language: go
sudo: required
dist: bionic
addons:
  apt:
    packages:
    - lynx
    - jq
    - wget -q
    - grep
    - nginx
    - curl
    - golang-cfssl
go:
- '1.13'
global:
  - TMPDIR=/tmp
before_script:
  - sudo rsync -az ${TRAVIS_BUILD_DIR}/ /usr/local/bootstrap/
  - sudo chmod -R 777 /usr/local/bootstrap/scripts
  - sudo bash -c "echo 2 | /usr/local/bootstrap/scripts/BootStrapMe.sh -Z"
  – sudo bash -c "echo 1 | /usr/local/bootstrap/scripts/BootStrapMe.sh -Z"
script:
  - source /usr/local/bootstrap/var.env
  - sudo bash -c "/usr/local/bootstrap/scripts/BootStrapMe.sh -Z"
  – sudo bash -c "/usr/local/bootstrap/scripts/BootStrapMe.sh -B"
